<!-- Add these definitions in your web.config file -->
<!-- Between <rules> and </rules> -->
<!-- To handle rewritten URLs in Project Tools -->

				<!-- Projects -->
				<rule name="vB Projects" enabled="true" stopProcessing="true">
					<match url="^project/.*" ignoreCase="true" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="true" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="true" negate="true" />
					</conditions>
				</rule>

				<!-- Issue List -->
				<rule name="vB Issue List" enabled="true" stopProcessing="true">
					<match url="^issuelist/.*" ignoreCase="true" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="true" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="true" negate="true" />
					</conditions>
				</rule>

				<!-- Issues -->
				<rule name="vB Issues" enabled="true" stopProcessing="true">
					<match url="^issue/.*" ignoreCase="true" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="true" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="true" negate="true" />
					</conditions>
				</rule>

				<!-- Project Timeline -->
				<rule name="vB Project Timeline" enabled="true" stopProcessing="true">
					<match url="^projecttimeline/.*" ignoreCase="true" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="true" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="true" negate="true" />
					</conditions>
				</rule>

				<!-- Project Milestones -->
				<rule name="vB Project Milestones" enabled="true" stopProcessing="true">
					<match url="^projectmilestone/.*" ignoreCase="true" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="true" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="true" negate="true" />
					</conditions>
				</rule>

				<!-- Milestone -->
				<rule name="vB Milestone" enabled="true" stopProcessing="true">
					<match url="^milestone/.*" ignoreCase="true" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="true" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="true" negate="true" />
					</conditions>
				</rule>

				<!-- Milestone Issue List -->
				<rule name="vB Milestone List" enabled="true" stopProcessing="true">
					<match url="^msissuelist/.*" ignoreCase="true" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="true" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="true" negate="true" />
					</conditions>
				</rule>